<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Movie Hub is usable with a remote only; touch input is not required. -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <!-- Explicit package visibility for the allow-listed provider launch chain. -->
    <queries>
        <package android:name="com.netflix.ninja" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.amazon.avod" />
        <package android:name="com.amazon.amazonvideo.livingroom" />
        <package android:name="com.amazon.avod.thirdpartyclient" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="com.amazon.firetv.youtube" />
        <package android:name="com.google.android.youtube.tv" />
        <package android:name="com.google.android.youtube" />
        <package android:name="de.exaring.waipu.firetv" />
        <package android:name="de.exaring.waipu" />
    </queries>

    <application
        android:name=".MovieHubApplication"
        android:allowBackup="false"
        android:banner="@drawable/tv_banner"
        android:icon="@drawable/ic_movie_hub"
        android:label="Movie Hub"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieHub"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NetworkSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SmbPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
